# Refer https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @sumanth-lingappa

.github/workflows @sumanth-lingappa
