.vscode/

tools/
issues/

plugins/module_utils/test.ipynb

*.pyc
__pycache__/

# Sphinx documentation
_built_docs*

# collection package
**/netscaler-adc-*.tar.gz

examples/*.out

TODO.md
Dockerfile

# tests
tests/integration/integration_config.yml

importer_result.json
ansible-test-integration.help
