:orphan:

{{ module_reference }}

{{ module_title }}

.. versionadded:: {{ module_version_added }}

.. contents::
   :local:
   :depth: 2

Synopsis
--------
{{ module_synopsis }}


{% if module_requirements is not none %}
Requirements
~~~~~~~~~~~~
The below requirements are needed on the host that executes this module.

{{ module_requirements }}
{% endif %}

Parameters
----------

{{ module_parameters }}


Examples
--------

{{ module_examples }}


Return Values
-------------
{{ module_return_values }}
