---
- name: Sample aaagroup_vpnintranetapplication_binding playbook
  hosts: demo_netscalers
  gather_facts: false
  tasks:
    - name: Configure aaagroup_vpnintranetapplication_binding
      delegate_to: localhost
      netscaler.adc.aaagroup_vpnintranetapplication_binding:

        state: present
        groupname: group1
        intranetapplication: intra_app2
