---
- name: Sample nsconfig playbook
  hosts: demo_netscalers
  gather_facts: false
  tasks:
    - name: Configure nsconfig
      delegate_to: localhost
      netscaler.adc.nsconfig:

        state: present
        nsvlan: '10'
        ifnum:
          - 1/1
        tagged: 'NO'
