---
- name: Sample service playbook
  hosts: demo_netscalers
  gather_facts: false
  tasks:
    - name: Configure service
      delegate_to: localhost
      netscaler.adc.service:

        state: present
        name: nshttpd-vpn-127.0.0.1-81
        cip: ENABLED
