---
- name: Sample vpnglobal_vpnintranetapplication_binding playbook
  hosts: demo_netscalers
  gather_facts: false
  tasks:
    - name: Configure vpnglobal_vpnintranetapplication_binding
      delegate_to: localhost
      netscaler.adc.vpnglobal_vpnintranetapplication_binding:

        state: present
        intranetapplication: javaclt
