readwrite_attrs = [#{% for attribute in readwrite_attrs %}
        '{{ attribute }}',#{% endfor %}
    ]

    readonly_attrs = [#{% for attribute in readonly_attrs %}
        '{{ attribute }}',#{% endfor %}
    ]

    immutable_attrs = [#{% for attribute in immutable_attrs %}
        '{{ attribute }}',#{% endfor %}
    ]

    transforms = {{ '{' }}#{% for (attribute, value) in transforms.items()%}
        '{{ attribute }}': {{ value }},#{% endfor %}
    }
