#{% for item in argument_options.basic_server %}
#{% include 'single_option.template' %}
#{% endfor %}



module_specific_arguments = dict(
    #{% for argument in module_arguments.basic_server %}
    #{% include 'single_argument_spec.template' %}
    #{% endfor %}
)
