{{item.option_name}}=dict(#{% if item.choices %}
            type='{{item.type}}',
            choices=[#{% for choice in item.choices %}
                '{{ choice }}',#{% endfor %}
            ],
        #{%- else %}
            type='{{item.type}}'#{% endif %}#{% if item.required %},
            required=True,#{% endif %}
        ),
