---
name: ansible-lint
on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - .github/**
      - assets/**
      - docs/**
      - .whitesource
      - .yamlfmt
      - .yamllint
  push:
    branches:
      - main
    paths-ignore:
      - .github/**
      - assets/**
      - docs/**
      - .whitesource
      - .yamlfmt
      - .yamllint
jobs:
  ansible-lint:
    name: ansible-lint
    runs-on: ubuntu-latest
    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - uses: actions/checkout@v5
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Install ansible-lint
        run: python -m pip install ansible-lint
      - name: Run ansible-lint
        run: ansible-lint
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: ansible_lint_result.sarif
